.post-content > :last-child {
  margin-bottom: 0;
}
article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  .subtitle {
    font-size: 1.45em;
    font-weight: normal;
    margin: 0;
  }
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
  .series {
    display: inline-block;
    color: $series-text-color;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    background: linear-gradient(120deg, $series-gradient-text-color-1, $series-gradient-text-color-2, $series-gradient-text-color-3);
    background: -webkit-linear-gradient(30deg, $series-gradient-text-color-1, $series-gradient-text-color-2, $series-gradient-text-color-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.meta {
  color: rgba($text-color, .5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    text-shadow: 0px 2px 16px #0000004d, 0px 1px 1px #00000040, 0px 4px 2px #00000024;
    background-size: $feature-image-size;
    background-position: center center;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}
