<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>  
    <meta name="viewport" content="width=device-width">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/assets/css/frame.css" rel="stylesheet" />
    <!-- <link href="/assets/css/clear.css" rel="stylesheet" /> -->
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body class="root">
        <!-- <header> -->
            <!-- <div class="headerContainer"> -->
                <!-- <div class="navbar"> -->
                    <!-- <h1>{{ site.name }}</h1> -->
                    <!-- <p>{{ site.description }}</p> -->
                    <!-- <nav class="navmenu"> -->
                        <!-- <ul> -->
                            <!-- <li><a href="/">Home</a></li> -->
                            <!-- <li><a href="/archives">Archive</a></li> -->
                            <!-- <li><a href="/about">About</a></li> -->
                            <!-- <li><a href="#">Comment</a></li> -->
                            <!-- <li><a href="/feed.xml">RSS</a></li> -->
                        <!-- </ul> -->
                    <!-- </nav>   -->
                <!-- </div> -->
            <!-- </div>   -->
        <!-- </header> -->

        <div class="content-wrapper">
            <div class="containter">
                {{ content }}

                <!-- <footer id="footer"> -->
                	<h3>let nav = [ "<a href="/">home</a>", "<a href="/about">about</a>" ]</h3>
                    <!-- <p class="copyright"> &lt;!-- &copy; ixan --&gt;</p> -->
                <!-- </footer> -->
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</body>
</html>