<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>  
    <meta name="viewport" content="width=device-width">

    <link href="/assets/css/frame.css" rel="stylesheet" />
    <link href="/assets/css/prism.css" rel="stylesheet" />
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body class="root">
        <div class="content-wrapper">
            <div class="containter">
                {{ content }}
            <h3>let nav = [ "<a href="/">home</a>", "<a href="/about">about</a>" ]</h3>
        </div>
    </div>

    <script src="/assets/js/prism.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</body>
</html>
