---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <!-- Series Header -->
    {% if page.series %}
      {% assign part = 1 %}
      {% assign posts = site.posts | sort: 'date' %}
      {% assign reversedPosts = posts | reverse %}
      {% for item in reversedPosts %}
        {% if item.series == page.series %}
          {% if item == page %}
            {% break %}
          {% endif %}

          {% assign part = part | plus:1 %}
        {% endif %}
      {% endfor %}
    <h4 class="series">{{ page.series }}
      {% if part > 1 %}
      <span class="series-part">#{{ part }}</span>
      {% endif %}
    </h4>
    {% endif %}

    <!-- Post Header -->
    <h1 class="title">{{ page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <p class="meta">
      {{ page.date | date: "%B %-d, %Y" }}
      {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
  {% include tags_list.html tags=page.tags tag_count=page.tags.size %}
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
